{% extends './base.html' %}
{% load static %}
<title>Index</title>
{% block content %}
    <div class="container">
        <div class="card-deck mt-5">
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Human Resource</h5>
                    <a href="https://bakozi.tk/">
                        <img class="img" src="{% static '/images/HR-96.png' %}" />                           
                    </a>
                    <p class="card-text">
                        Organisation Structure, Employee Meta-data, Payroll, Leave 
                    </p>                    
                </div>
                <div class="card-footer">
                    <a href="https://bakozi.tk/" class="btn btn-primary">Launch</a>
                </div>
            </div>
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Project Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/project-96.png' %}" />                           
                    </a>
                    <p class="card-text">Manage and track Project progress and costs </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div>
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Customer Relations</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/crm-96.png' %}" />                           
                    </a>
                    <p class="card-text">Keep track of your Customers and purchase Patterns</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div>
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Asset Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/asset-96.png' %}" />                           
                    </a>
                    <p class="card-text">Manage and monitor Organisation Assets</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div> 
        </div>           
        <div class="card-deck mt-3">
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Fleet Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/fleet-96.png' %}" />                           
                    </a>
                    <p class="card-text">Manage Fleet Records and track Service details</p>
                </div>                        
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div>
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Material Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/material-96.png' %}" />                           
                    </a>
                    <p class="card-text">Material Inventory tracking stock and distribution details</p>
                </div>                
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div> 
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Material Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/material-96.png' %}" />                           
                    </a>
                    <p class="card-text">Material Inventory tracking stock and distribution details</p>
                </div>                
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div>
            <div class="card text-center" style="width: 15rem;">
                <div class="card-block">
                    <h5 class="card-title">Material Management</h5>
                    <a href="#pablo">
                        <img class="img" src="{% static '/images/material-96.png' %}" />                           
                    </a>
                    <p class="card-text">Material Inventory tracking stock and distribution details</p>
                </div>                
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Launch</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}