{% extends './base.html' %}
{% load static %}
<title>Index</title>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">HR</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">Project</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
            {% comment %} <div class="w-100"></div> {% endcomment %}
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">CRM</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">Asset</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">Fleet</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 10rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">Material</h5>
                        <p class="card-text">Some quick example</p>
                        <a href="#" class="card-link">Launch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}