{%extends './base.html'%}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'registration/images/machinery.png'%}');">
        <!-- Material form login -->
        <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign in</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" method="POST" action="{% url 'index_page'%}">
            {% csrf_token %}
            
            <!-- Email -->
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control">
                <label for="materialLoginFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control">
                <label for="materialLoginFormPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around">
                <div>
                <!-- Remember me -->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                    <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                </div>
                </div>
                <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>

            </form>
            <!-- Form -->

        </div>

        </div>
        <!-- Material form login -->
    </div>
</div>
{% endblock content %}


<div class="wrap-login100 p-t-30 p-b-50">

            <form class="login100-form validate-form p-b-33 p-t-5" method="POST" action=" {% url 'login'  %}">
                {% csrf_token %}
                <center style="padding-top:20px">
                    <img src=" {% static 'registration/images/icons/logo.svg' %} " style="width:50%"/>
                </center>
                {% if message %}
                <div class="alert alert-danger" role="alert" style="margin-top:10px">
                    {{message}}
                </div>
                {% endif %}
                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100" data-placeholder="&#x40;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>
                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="container-login100-form-btn m-t-32">
                    <a href="{%url 'password_reset' %}">
                        <p>Forgot Password</p>
                    </a>
                </div>
            </form>
        </div>